<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>D5E756C3-A250-4540-9E73-2F2EDE898E21</string>
			<string>88738C61-48F5-4865-94E4-93D96B92428A</string>
			<string>------------------------------------</string>
			<string>228A0DD4-A393-4770-840E-01D5F7DA0F50</string>
			<string>F4AC122B-2B98-4BFF-B784-B58715F72996</string>
			<string>D6198F1D-A453-457A-B542-D22467ACE07B</string>
			<string>------------------------------------</string>
			<string>7D611C1D-8D6B-4D0D-85D9-10A82B286760</string>
			<string>------------------------------------</string>
			<string>B39AD969-84E3-4D70-BF1F-9895FD4EE03B</string>
			<string>------------------------------------</string>
			<string>B2BA8BCA-F4A2-4F6B-8BF9-2777902BA38A</string>
			<string>------------------------------------</string>
			<string>EADE1373-B600-40D7-B3A2-038771F17BF3</string>
			<string>------------------------------------</string>
			<string>4F6BEE2B-2211-4C0A-8244-11011E1DFA84</string>
			<string>------------------------------------</string>
			<string>72860921-CCDC-4390-8B9A-36491BFCAE83</string>
			<string>F11BA60E-2FFE-418D-AB08-C4A8A7249421</string>
			<string>------------------------------------</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>72860921-CCDC-4390-8B9A-36491BFCAE83</key>
			<dict>
				<key>items</key>
				<array>
					<string>B283DF3A-842E-432A-881D-548773AB9F31</string>
					<string>9D61084F-1584-4C98-91EE-E3213BBC9F86</string>
				</array>
				<key>name</key>
				<string>Config</string>
			</dict>
			<key>F11BA60E-2FFE-418D-AB08-C4A8A7249421</key>
			<dict>
				<key>items</key>
				<array>
					<string>C6A4CEB8-8A02-413C-8F36-C7E8F38E74C1</string>
				</array>
				<key>name</key>
				<string>Dev</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Shopify</string>
	<key>ordering</key>
	<array>
		<string>D5E756C3-A250-4540-9E73-2F2EDE898E21</string>
		<string>88738C61-48F5-4865-94E4-93D96B92428A</string>
		<string>228A0DD4-A393-4770-840E-01D5F7DA0F50</string>
		<string>F4AC122B-2B98-4BFF-B784-B58715F72996</string>
		<string>D6198F1D-A453-457A-B542-D22467ACE07B</string>
		<string>7D611C1D-8D6B-4D0D-85D9-10A82B286760</string>
		<string>B39AD969-84E3-4D70-BF1F-9895FD4EE03B</string>
		<string>B2BA8BCA-F4A2-4F6B-8BF9-2777902BA38A</string>
		<string>EADE1373-B600-40D7-B3A2-038771F17BF3</string>
		<string>B283DF3A-842E-432A-881D-548773AB9F31</string>
		<string>9D61084F-1584-4C98-91EE-E3213BBC9F86</string>
		<string>4F6BEE2B-2211-4C0A-8244-11011E1DFA84</string>
		<string>C6A4CEB8-8A02-413C-8F36-C7E8F38E74C1</string>
	</array>
	<key>uuid</key>
	<string>AF27C8F0-5702-4317-82AD-63A4F55CFAAA</string>
</dict>
</plist>
